$app-panel-height: 60px;
$app-background-color: #fff;
$app-panel-item-highlight: rgba(0,0,0,0.2);
$transition-curve: cubic-bezier(0.4, 0.0, 0.2, 1);
$group-panel-width: 200px;

.app {

    width: 100vw;
    height: 100vh;
    background-color: $app-background-color;

    &-actions {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: $app-panel-height;
        border: 1px rgba(0,0,0,0.3) solid;
        border-width: 0 0 1px 0;

        &__action {

            width: $app-panel-height*1.3;
            height: $app-panel-height;
            flex-direction: column;
            transition: background 150ms $transition-curve;
            
            &:hover {
                background-color: $app-panel-item-highlight;
            }

            // &-name {
            // }

        }
    }

    &-content {
        position: fixed;
        top: $app-panel-height;
        bottom: 0;
        left: 0;
        right: 0;
        .group-list {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: $group-panel-width;
            border: 1px rgba(0,0,0,0.3) solid;
            border-width: 0 1px 0 0;
        }
    }

}

.not-opened {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0,0,0,0.15);
    user-select: none;
}